<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="WebSupportDesk_SystemLogs::config"
                                      title="WebSupportDesk System Logs (configuration)"
                                      translate="title"
                                      sortOrder="95"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="WebSupportDesk_SystemLogs::systemlogs"
                              title="WebSupportDesk System Logs"
                              translate="title"
                              sortOrder="88"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
